* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #2d2d2d;
    --secondary-bg-color: #202020;
    --foreground-color: #eeeeee;
    --accent-color: #a9d1ff;
    --border-color: #444;
    --hover-color: #666;
    --highlight-color: #ffcc99;

    --font-family: "Fira Code", monospace;
    --font-size-base: 14px;
    --padding: 6px;
    --border-radius: 6px;

    --scrollbar-width: 6px;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: var(--font-family);
}

html,
body,
#root {
    height: 100%;
}

.editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tab-headers {
    display: flex;
    align-items: center;
    background-color: var(--secondary-bg-color);
    padding: var(--padding);
    scrollbar-width: thin;
    scrollbar-color: var(--border-color) transparent;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    margin: 0 var(--padding);
    overflow: overlay;
}

.tab-headers::-webkit-scrollbar {
    height: var(--scrollbar-width);
}

.tab-headers::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: var(--border-radius);
}

.tab-header {
    padding: var(--padding);
    margin-right: var(--padding);
    background-color: var(--secondary-bg-color);
    color: var(--hover-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: var(--font-family);
    font-size: var(--font-size-base);

    > *:not(:last-child) {
        margin-right: 16px;
    }
}

.tab-header:hover {
    background-color: var(--background-color);
}

.tab-header.active {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-weight: bold;
    border-color: var(--border-color);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
}

.add-tab-button {
    background-color: var(--secondary-bg-color);
    color: var(--hover-color);
    border: 1px solid var(--border-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: bold;
}

.add-tab-button:hover {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

.close-tab-button {
    background: transparent;
    border: none;
    color: var(--hover-color);
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    position: relative;
    transform: scale(1.2);
    transform-origin: center;
    z-index: 1;
    padding-right: 2px;
}


.close-tab-button:hover {
    color: var(--foreground-color);
}

.tab-content {
    display: flex;
    gap: var(--padding);
    padding: var(--padding);
    flex: 1;
    box-sizing: border-box;
    overflow: auto;
}

.editor-input,
.editor-preview {
    flex: 1;
    background-color: var(--secondary-bg-color);
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size-base);
    line-height: 1.5;
    outline: none;
    resize: none;
    height: 100%;
    overflow-y: auto;
    color: var(--foreground-color);
    position: relative;
    padding: var(--padding);
    box-sizing: border-box;
}

.editor-input::-webkit-scrollbar,
.editor-preview::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

.editor-input::-webkit-scrollbar-thumb,
.editor-preview::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: var(--border-radius);
}

.editor-input::-webkit-scrollbar-thumb:hover,
.editor-preview::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover-color);
}

.editor-input,
.editor-preview {
    scrollbar-width: thin;
    scrollbar-color: var(--border-color) transparent;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code,
pre {
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);
    padding: 2px 4px;
    color: var(--highlight-color);
}

pre {
    padding: var(--padding-base);
    color: var(--foreground-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
    background-color: var(--secondary-bg-color);
}

th,
td {
    border: 1px solid var(--border-color);
    padding: var(--padding);
    text-align: left;
}

th {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

tr:nth-child(even) {
    background-color: var(--secondary-bg-color);
}

ul,
ol {
    margin: var(--padding) 0;
    padding-left: calc(var(--padding) * 4);
}

li {
    margin: calc(var(--padding) / 2) 0;
}

blockquote {
    margin: calc(var(--padding) * 2) 0;
    padding-left: var(--padding);
    border-left: 4px solid var(--accent-color);
    color: #b0b0b0;
    border-radius: 4px;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--border-color);
    margin: calc(var(--padding) * 2) 0;
}

input[type="checkbox"] {
    accent-color: var(--border-color);
    width: 14px;
    height: 14px;
}


